<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SINOFAP-MOVIL-API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #e0e0e0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="margin-top: 40%;text-align:center;">
            <img src="images/LOGOMSPASMOHOS.png" width="30%" style="margin-bottom: 20px;"/>
            <h5>FICHA FAMILIAR MOVIL API CORE V1</h5>
        </div>
    </div>
</body>

</html>